extends ../../layouts/base-layout

block navbar
  include ../../lib/NavBar

block content
  .d-grid.place-items-center.text-center(style="min-height: 540px;")
    .d-flex.flex-column.align-items-center.justify-content-center
      h1.display-1 404
      p.lead.fs-5 Página no encontrada
      a.btn.btn-primary.btn-lg(href="/") Volver al Inicio