nav.navbar.navbar-expand-lg.bg-body-tertiary.sticky-top
  .container
    a.navbar-brand(href='/')
      i.bi.bi-house-door
      | &nbsp;Inicio
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link(href='/panel/agendas')
            i.bi.bi-calendar3-week
            | &nbsp;Agendas
        li.nav-item.dropdown
          .nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            i.bi.bi-people
            | &nbsp;Usuarios
          ul.dropdown-menu
            li
              a.dropdown-item(href='/panel/pacientes')
                i.bi.bi-person
                | &nbsp;Pacientes
            li
              a.dropdown-item(href='/panel/profesionales')
                i.bi.bi-person-badge
                | &nbsp;Profesionales
            li
              a.dropdown-item.disabled(aria-disabled='true' href='/panel/secretarias')
                i.bi.bi-person-workspace
                | &nbsp;Secretari@s
                |  &nbsp...
                i.bi.bi-tools
            li
              hr.dropdown-divider
            li
              a.dropdown-item.disabled(aria-disabled='true' href='/panel/admins')
                i.bi.bi-person-check
                | &nbsp;Administradores
                |  &nbsp...
                i.bi.bi-tools
        li.nav-item
          a.nav-link(href='/panel/especialidades')
            i.bi.bi-star
            | &nbsp;Especialidades
        li.nav-item
          a.nav-link.disabled(aria-disabled='true')
            i.bi.bi-card-text
            | &nbsp;Obras Sociales
            |  &nbsp...
            i.bi.bi-tools
        li.nav-item
          a.nav-link.disabled(aria-disabled='true')
            i.bi.bi-person-gear
            | &nbsp;Roles
            |  &nbsp...
            i.bi.bi-tools
        
      a.btn.btn-outline-secondary.border-0.disabled(href="/auth/logout")
        i.bi.bi-box-arrow-right
        | &nbsp;Cerrar Sesión
        |  &nbsp...
        i.bi.bi-tools
      include ./ColorModeToggler