nav.navbar.navbar-expand-lg.bg-body-tertiary.sticky-top
  .container
    a.navbar-brand(href='/') Inicio
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link(href='/panel/agendas') Agendas
        li.nav-item.dropdown
          .nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Usuarios
          ul.dropdown-menu
            li
              a.dropdown-item(href='/panel/pacientes') Pacientes
            li
              a.dropdown-item(href='/panel/profesionales') Profesionales
            li
              a.dropdown-item.disabled(aria-disabled='true' href='/panel/secretarias') Secretarias
                |  &nbsp...
                i.bi.bi-tools
            li
              hr.dropdown-divider
            li
              a.dropdown-item.disabled(aria-disabled='true' href='/panel/admins') Administradores
                |  &nbsp...
                i.bi.bi-tools
        li.nav-item
          a.nav-link(href='/panel/especialidades') Especialidades
        li.nav-item
          a.nav-link.disabled(aria-disabled='true') Obras Sociales
            |  &nbsp...
            i.bi.bi-tools
        li.nav-item
          a.nav-link.disabled(aria-disabled='true') Roles
            |  &nbsp...
            i.bi.bi-tools
        
      a.btn.btn-outline-secondary.border-0.disabled(href="/auth/logout") Cerrar Sesión
        |  &nbsp...
        i.bi.bi-tools
      include ./ColorModeToggler